commands:
  01_setup_swap:
    command: |
      if [ ! -f /var/swapfile ]; then
        dd if=/dev/zero of=/var/swapfile bs=1M count=2048
        chmod 600 /var/swapfile
        mkswap /var/swapfile
        swapon /var/swapfile
        echo "/var/swapfile swap swap defaults 0 0" >> /etc/fstab
      fi
