packages:
  yum:
    libpq-devel: []
    gcc: []
    python3-devel: []

files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      types_hash_max_size 4096;
      types_hash_bucket_size 128;
      client_max_body_size 20M;

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
